name: Build

on: pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        architecture: x64
    - name: Build
      env:
        JAVA_OPTS: -Xms512m -Xmx1024m
      run: |
        cd plugin-creation
        ./gradlew clean shadowJar
        cd ../plugin-use
        ./gradlew clean shadowJar
        java -jar build/libs/plugin-use-all.jar
